<mat-card class="card__inner">
    <mat-card-header>
        <div mat-card-avatar class="card__icon"></div>
        <mat-card-title>{{title}}</mat-card-title>
        <mat-card-subtitle>Ready in {{readyInMinutes}} minutes</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="image">
    <mat-card-content *ngIf="showDetails[i]">
        <div class="card__info">
            <div class="healt__time">
                <h4>Health score: <span>{{healthScore}}</span></h4>
                <h4 *ngIf="vegan" style="color:#00a700;" class="py-1">Vegan dish</h4>
                <h4 *ngIf="!vegan" style="color: var(--c-orange-500)" class="py-1">Not vegan dish</h4>
            </div>
            <h3>Price: ${{pricePerServing}}</h3>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button style="background: var(--c-orange-500)" (click)="seeDetails(i)">See Details</button>
        <div *ngIf="type !== 'add'; else add_buttons">
            <button mat-button style="background: #c60000" (click)="deleteDish(dish)">Delete from menu</button>
        </div>
        <ng-template #add_buttons>
            <button mat-button style="background: #009cc6">Add to menu</button>
        </ng-template>
        
    </mat-card-actions>
</mat-card>