<mat-form-field class="full-width" appearance="outline">
    <mat-label>Search by dish name...</mat-label>
    <input matInput type="text" [(ngModel)]="value" (keyup)="search.next($event)">
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>
<div class="inner__results">
    <!-- <mat-card class="card__inner" *ngFor="let dish of searchResult; index as i;">
        <mat-card-header>
            <div mat-card-avatar class="card__icon"></div>
            <mat-card-title>{{dish.title}}</mat-card-title>
            <mat-card-subtitle>Ready in {{dish.readyInMinutes}} minutes</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="dish.image">
        <mat-card-content *ngIf="showDetails[i]">
            <div class="card__info">
                <div class="healt__time">
                    <h4>Health score: <span>{{dish.healthScore}}</span></h4>
                    <h4 *ngIf="dish.vegan" style="color:#00a700;" class="py-1">Vegan dish</h4>
                    <h4 *ngIf="!dish.vegan" style="color: var(--c-orange-500)" class="py-1">Not vegan dish</h4>
                </div>
                <h3>Price: ${{dish.pricePerServing}}</h3>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button style="background: var(--c-orange-500)" (click)="seeDetails(i)">See Details</button>
            <button mat-button style="background: #009cc6" (click)="addToMenu(dish.id)">Add to menu</button>
        </mat-card-actions>
    </mat-card> -->
    <app-dish
        *ngFor="let dish of searchResult; index as i;"
        [title]="dish.title"
        [readyInMinutes]="dish.readyInMinutes"
        [image]="dish.image"
        [healthScore]="dish.healthScore"
        [vegan]="dish.vegan"
        [pricePerServing]="dish.pricePerServing"
        [type]="'add'"
        [id]="dish.id"
        (addDish)="addToMenu(dish.id)"
        ></app-dish>
    <div *ngIf="searchResult.length==0 && searching">
        <h3>No results...</h3>
    </div>
</div>