:root {
    --c-blue-900: #030812;
    --c-blue-800: #050E1D;
    --c-blue-700: #071223;
    --c-blue-500: #0A192F;
    --c-blue-400: #233554;
    --c-blue-300: #545E6D;
    --c-blue-200: #858C97;
    --c-blue-100: #B6BAC1;
    --c-orange-900: #f14f00;
    --c-orange-800: #f36200;
    --c-orange-700: #f56c00;
    --c-orange-500: #f77f00;
    --c-orange-400: #f89226;
    --c-orange-300: #F9A54D;
    --c-orange-200: #FBBF80;
    --c-orange-100: #FDD9B3;
}

html,
body {
    height: 100%;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--c-blue-500);
    color: #8892b0;
}

::-webkit-scrollbar {
    width: 12px
}

::-webkit-scrollbar-track {
    background: var(--c-blue-500)
}

::-webkit-scrollbar-thumb {
    background-color: var(--c-blue-300);
    border: 3px solid var(--c-blue-500);
    border-radius: 10px
}


a {
    text-decoration: none
}

.full-width {
    width: 100%;
}

.swal2-popup {
    background: var(--c-blue-400) !important;
    color: var(--c-blue-100) !important;
}

.swal2-styled.swal2-confirm {
    background-color: #009cc6 !important;
}

.nav__mobile .mat-button-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav__mobile .mat-button-wrapper span {
    flex: 2;
}

.inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 40px;
}

.inner h2:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--c-orange-500);
    margin-top: 10px;
}

.mat-card {
    position: static !important;
}